<div class="body">
    <div class="row">
        <div class="col-md-6 first">
            <h1>Designed By Indian Engineers</h1>
            <br>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus vel est fringilla tristique. Integer feugiat luctus quam, sit amet faucibus massa. Praesent pellentesque eros sed fermentum laoreet. Suspendisse mattis auctor ante, non posuere lectus luctus in. Fusce id varius lorem. Quisque ut massa posuere, porttitor ipsum sed, dignissim risus. Praesent commodo nunc vitae sapien fringilla, et aliquet lectus iaculis. Curabitur rhoncus non augue et congue. Pellentesque lectus libero, sagittis non elit 
            </p>
            <button class="btn">submit</button>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/secure your it.png"/>
        </div>
       
    </div>
    </div>
    
