<div class="main">
    <h3 class="head">Key feature</h3>
    
    <br>
<br>
<div class="flex-row-container">
    <div class="flex-row-item">
        <img src="/assets/img/technical security.png">
        <h4>Heading</h4>
        <span>elit eros porttitor nisi, malesuada ultricies lorem enim et ligula. Phasellus a lorem vitae arcu condimentum dignissim ut at felis.</span>
    </div>
    <div class="flex-row-item">
        <img src="/assets/img/technical security.png">
        <h4>Heading</h4>
        <span>elit eros porttitor nisi, malesuada ultricies lorem enim et ligula. Phasellus a lorem vitae arcu condimentum dignissim ut at felis.</span>
        
    </div>
    <div class="flex-row-item">
        <img src="/assets/img/technical security.png">
        <h4>Heading</h4>
        <span>elit eros porttitor nisi, malesuada ultricies lorem enim et ligula. Phasellus a lorem vitae arcu condimentum dignissim ut at felis.</span>
        
    </div>
    
</div>
</div>
