.first{
    padding: 100px;
}
.body{
background-color:#0879fa ;
}
h1{
    font-weight: 500;
    color: white;
}
p{
    color: white;
}
.imgg {
    width: 90%;
    margin-top: 108px;
    margin-left: 36px;
}
.btn{
    color: violet;
    background-color: yellow;
    padding: 10px;
    width: 30%;
    border-radius: 26px;
}
.cut
{
  /* position: relative; */
  top: 0;
  /* left: 0; */
  /* width: 95%; */
  max-width: 99%;
}
.mouse
{
    position: relative;
    top: 97px;
    left: 50%;
    background-color: #166aca;
    padding: 14px;
    border-radius: 35px;
}